@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  letter-spacing: -0.5px;
  margin-bottom: 0.25rem;
}

.custom-desc {
  font-size: 1rem;
  color: #6b7280;
  margin-bottom: 1.5rem;
}


.ag-theme-quartz .ag-header {
  background-color: #EAEAEA; 
  border-bottom: 1px solid #cbd5e1; 
}

.ag-theme-quartz .ag-header-cell {
  font-weight: 600;
  font-size: 15px;
  color: #1e293b; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ag-theme-quartz .ag-header-cell-text {
  white-space: nowrap;
}

.ag-theme-quartz .ag-cell {
  display: flex;
  align-items: center; 
}


.ag-theme-quartz.custom-ag-theme .ag-header-cell::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 1px;
  background-color: #E7EBF1; 
}



.ag-theme-quartz .ag-header-cell:last-child .ag-header-cell-resize {
  display: none !important;
}

 /* Để cột chức năng nổi hơn các cột khác */
.ag-theme-quartz .ag-cell.actions-column {
  background-color: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
  border-left: 1px solid #e2e8f0;
  z-index: 1;
}

